@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700");
@import url("https://api.fontshare.com/css?f[]=roboto@400,700&display=swap");

p,
ol,
ul {
  margin: 0px;
}

button {
  padding: 0px;
}

ol,
ul {
  padding-inline-start: 1.5em;
}
.font-roboto {
  font-family: Roboto;
}
.bg-image {
  background-image: url(/public/assets/Jaguar1.png);
}

p,
ol,
ul {
  margin: 0px;
}

button {
  padding: 0px;
}

ol,
ul {
  padding-inline-start: 1.5em;
}
